(postcard with random quote will go here)<br>

(render emojis partial)
<br>
<br>
<br>

<% if params[:topic_filter] == "Filter by Topic"%>
   <p> <%= @quote.body %> </p>
<%else %>
    <p> <%= @filter_quote.body%></p>
<%end%>    <!--ends if statement-->

<!-- <%#= render partial: "emojis" %>
 -->

<ol class="emoji_links">
  <% @emotions.each do |emotion| %>
    <li>
      <%#= button_to emotion.title, "/responses", method: "post", action: "create" %>
      <%# @response.emotion = emotion %>
      <%= form_for @response do |f| %>
        <%= f.hidden_field :emotion_id, :value => emotion.id  %>
        <%= f.hidden_field :quote_id, :value => @quote.id  %>
        <%= f.submit "#{emotion.title}" %>
      <% end %>
    </li>
  <% end %>
</ol>
