<!-- FIRST FRAME -->
<div class="frame" id="frame-one">
  <div class="postcard">

    <div class="left-side">
        <p>"<%= @response_quote.body %>"</p>
    </div>

    <div class="right-side">
      <div class="author-data">
        <ul>
          <li><%= @response_quote.author %></li>
          <li><%= @response_quote.date %></li>
          <li><%= @response_quote.location %></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="response_count">
    <h3><%="#{@responses.where("quote_id = #{@response.quote.id}").count}"%> people have responded to this quote.</h3>
  </div>
</div>

<!-- SECOND FRAME -->
<div class="frame" id="second_frame">
  <h3>Breakdown of responses</h3>
  <div class="graph">
    <!-- graph will be added -->
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <% all_quote_responses= @responses.where("quote_id = #{@response_quote.id}")%>
    <% groups = all_quote_responses.group(:emotion_id).count %>
    <%=pie_chart( { "\u{1F600}" => groups[1], "\u{1F61F}" => groups[2], "\u{1F621}" => groups[3], "\u{1F616}"=> groups[4], "\u{1F631}"=> groups[5], "\u{1F633}"=> groups[6]}, height: "500px", library: {backgroundColor: "#FAECD8"}) %>
  </div>
</div>

<!-- THIRD FRAME -->
<div class="frame" id="third_frame">
  <div class="breakdown">
    <h3><%= @current_topic %> </h3>
    <%= simple_format @blurb %>
    <p> <%= link_to "Source: Wikipedia", @redirect_wiki_link %> </p>
  </div>
</div>
