

<header>
  <div class="emoji">
    <%= image_tag @response_emotion.url  %>

    <!-- Emotion.find(@response.id) -->
  </div>

  <div class="next_card">
    <%= link_to("next", "/index")%>
  </div>
</header>
<!-- contains the header information for the header that is not in the layout, has the users selected layout-->







<div class="frame_1">
  <h1>Quote</h1>

  <div class="postcard">

    <div class="quote">
      <p>"<%= @quote.body %>"</p>
    </div>

    <div class="author_data">
      <ul>
        <li><%= @quote.author %></li>
        <li><%= @quote.date %></li>
        <li><%= @quote.location %></li>
      </ul>
      <!-- the where attribute needs to be added, it is not mentioned in readme -->
    </div>

  </div>

  <div class="response_count">

    <p><%="#{@response_count}"%> number of people responded to this quote.</p>

  </div>

  <div class="arrow_bounce">
    <!-- reference: http://codepen.io/dodozhang21/pen/siKtp -->
  </div>


</div>
<!-- provides the first frame, quote info, number of people who have responded -->





<div class="frame_2">

  <div class="graph">
    <!-- graph will be added -->
    <!-- <#%= pie_chart @response.group(emoji_id).count %> -->
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

    <!-- <#%= pie_chart @responses.group([:quote_id]).count %> -->
<%= pie_chart @responses.group([:quote_id]).count %>

<!-- <%#= pie_chart Response.group([:quote_id, :emoji_id]).count %> -->


    <!--# @quote = Quote.responses -->
    <!-- <#%= @quote.group(:emoji_id).count -->
    <p>testing test</p>
  </div>

  <div class="breakdown">
    visuals of percentage break down, color coded
  </div>


</div>
# shows the graph and visual data




<!-- <div class="frame_3">

  <div class="background">
    <p>wiki blurb api</p>
  </div>


  <div class="continue_reading">
    <#%= link_to("Continue Reading"), @quote.wiki_url %>
    wiki url needs to be added

  </div>
</div> -->
<!-- provides background info about the topic and sources to new info -->
