<!DOCTYPE html>
<html>
<head>
  <title>PostPoll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <span class="logo">
      <%= link_to "PostPOLL", responses_path %>
    </span>

    <div id="only_on_show">
      <div id="user_selection">
        <% if @response.id %>
          <p><%= @response.emotion.title %></p>
        <% else %>
          <!-- display nothing -->
        <% end %>
      </div>

      <div id="next_page">
        <% if @response.id %>
          <p>
            <%= form_tag new_response_path, method: 'get' do %>
            <%= hidden_field_tag 'category_filter', @response_quote.category %>
            <%= submit_tag "New Card", id: "play_button" %>
            <% end %>
          </p>
          <!-- display nothin -->
        <% else %>
          <!-- display nothing -->
        <% end %>
      </div>
    </div>

  </header>

  <main>

    <%= yield %>

  </main>

<!-- <footer>
  <%#= link_to "GitHub", "https://github.com/ZakkMan/chucks" %>
</footer> -->

</body>
</html>
