<!DOCTYPE html>
<html>
<head>
  <title>PostPoll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <!-- < render partial :users_emotion -->
    <span class="logo">
      <%= link_to "PostPOLL", responses_path %>
    </span>

    <div id="only_on_show">
      <div id="user_selection">    
        <% if @response.id %>
          <p><%= Emotion.find(@response.emoji_id).title %></p>
        <% else %>
          <!-- display nothing -->
        <% end %>
      </div>

      <div id="next_page">
        <% if @response.id %>
          <p><%= link_to "New Card", "/responses/new" %></p>
        <% else %>
          <!-- display nothing -->
        <% end %>
      </div>
    </div>

    <!-- render partial :next_card -->
  </header>

  <main>

    <%= yield %>

  </main>

<!-- <footer>
  <%#= link_to "GitHub", "https://github.com/ZakkMan/chucks" %>
</footer> -->

</body>
</html>
